In [1]:
import pandas as pd
import numpy as np

In [2]:
device_2022 = pd.read_csv('/srv/data/my_shared_data_folder//iet_2022/filtered_netrics_latency_202205.csv', header=None)
device_2022

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,39.296,chicago,73.176.1.0,1
1,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,max,60649,att,44.864,chicago,73.176.1.0,1
2,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,mdev,60649,att,2.044,chicago,73.176.1.0,1
3,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,min,60649,att,37.110,chicago,73.176.1.0,1
4,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,14.601,chicago,73.176.1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685395,2022-05-03 23:21:00,nm-mngd-20210518-19941862,last_mile_rtt,rtt,icmp,Cloudflare,0.0,ping_mdev,60649,att,0.449,chicago,73.176.1.0,0
685396,2022-05-03 23:21:00,nm-mngd-20210518-19941862,last_mile_rtt,rtt,icmp,Cloudflare,0.0,ping_min,60649,att,9.879,chicago,73.176.1.0,0
685397,2022-05-03 23:21:00,nm-mngd-20210518-19941862,last_mile_rtt,rtt,icmp,Cloudflare,0.0,tr_max,60649,att,16.890,chicago,73.176.1.0,0
685398,2022-05-03 23:21:00,nm-mngd-20210518-19941862,last_mile_rtt,rtt,icmp,Cloudflare,0.0,tr_median,60649,att,16.706,chicago,73.176.1.0,0
685399,2022-05-03 23:21:00,nm-mngd-20210518-19941862,last_mile_rtt,rtt,icmp,Cloudflare,0.0,tr_min,60649,att,10.196,chicago,73.176.1.0,0

In [3]:
device_2022.rename(columns={0:'time', 1:'deviceid', 2:'tool', 3:'direction', 4:'protocol', 5:'target', 6:'pktloss', 7:'method', 8:'zip', 9:'isp', 10:'value', 11:'topic', 12:'annon:paddar', 13:'ipaddnchanged'}, inplace = True)
device_2022

,time,deviceid,tool,direction,protocol,target,pktloss,method,zip,isp,value,topic,annon:paddar,ipaddnchanged
0,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,39.296,chicago,73.176.1.0,1
1,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,max,60649,att,44.864,chicago,73.176.1.0,1
2,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,mdev,60649,att,2.044,chicago,73.176.1.0,1
3,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,min,60649,att,37.110,chicago,73.176.1.0,1
4,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,14.601,chicago,73.176.1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685395,2022-05-03 23:21:00,nm-mngd-20210518-19941862,last_mile_rtt,rtt,icmp,Cloudflare,0.0,ping_mdev,60649,att,0.449,chicago,73.176.1.0,0
685396,2022-05-03 23:21:00,nm-mngd-20210518-19941862,last_mile_rtt,rtt,icmp,Cloudflare,0.0,ping_min,60649,att,9.879,chicago,73.176.1.0,0
685397,2022-05-03 23:21:00,nm-mngd-20210518-19941862,last_mile_rtt,rtt,icmp,Cloudflare,0.0,tr_max,60649,att,16.890,chicago,73.176.1.0,0
685398,2022-05-03 23:21:00,nm-mngd-20210518-19941862,last_mile_rtt,rtt,icmp,Cloudflare,0.0,tr_median,60649,att,16.706,chicago,73.176.1.0,0
685399,2022-05-03 23:21:00,nm-mngd-20210518-19941862,last_mile_rtt,rtt,icmp,Cloudflare,0.0,tr_min,60649,att,10.196,chicago,73.176.1.0,0

In [5]:
device_2022 = device_2022.loc[device_2022['target'].isin(['Atlanta','Chicago','Seattle'])]
device_2022

,time,deviceid,tool,direction,protocol,target,pktloss,method,zip,isp,value,topic,annon:paddar,ipaddnchanged
0,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,39.296,chicago,73.176.1.0,1
1,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,max,60649,att,44.864,chicago,73.176.1.0,1
2,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,mdev,60649,att,2.044,chicago,73.176.1.0,1
3,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,min,60649,att,37.110,chicago,73.176.1.0,1
4,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,14.601,chicago,73.176.1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685330,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,min,60649,att,12.588,chicago,73.176.1.0,0
685343,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,avg,60649,att,62.147,chicago,73.176.1.0,0
685344,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,max,60649,att,63.513,chicago,73.176.1.0,0
685345,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,mdev,60649,att,0.612,chicago,73.176.1.0,0
685346,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,min,60649,att,61.536,chicago,73.176.1.0,0

In [6]:
#Created a function which split hour from time column.
def split_hour(time):
    row = time
    return row[11:13]

device_2022.loc[:,"hour"] = device_2022.loc[:,"time"].apply(split_hour)

/tmp/ipykernel_1704334/2004868974.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  device_2022.loc[:,"hour"] = device_2022.loc[:,"time"].apply(split_hour)

In [7]:
#Created a function which split date from time column. 
def split_date(time):
    row = time
    return row[:10]

device_2022.loc[:,"date"] = device_2022.loc[:,"time"].apply(split_date)

/tmp/ipykernel_1704334/2121826923.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  device_2022.loc[:,"date"] = device_2022.loc[:,"time"].apply(split_date)

In [8]:
device_2022

,time,deviceid,tool,direction,protocol,target,pktloss,method,zip,isp,value,topic,annon:paddar,ipaddnchanged,hour,date
0,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,39.296,chicago,73.176.1.0,1,23,2022-05-05
1,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,max,60649,att,44.864,chicago,73.176.1.0,1,23,2022-05-05
2,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,mdev,60649,att,2.044,chicago,73.176.1.0,1,23,2022-05-05
3,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,min,60649,att,37.110,chicago,73.176.1.0,1,23,2022-05-05
4,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,14.601,chicago,73.176.1.0,1,23,2022-05-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685330,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,min,60649,att,12.588,chicago,73.176.1.0,0,23,2022-05-03
685343,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,avg,60649,att,62.147,chicago,73.176.1.0,0,23,2022-05-03
685344,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,max,60649,att,63.513,chicago,73.176.1.0,0,23,2022-05-03
685345,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,mdev,60649,att,0.612,chicago,73.176.1.0,0,23,2022-05-03
685346,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,min,60649,att,61.536,chicago,73.176.1.0,0,23,2022-05-03

In [9]:
#Converted hour column from string to integer to be able to plot the values. 
device_2022.hour = device_2022['hour'].astype('int')
print(device_2022.dtypes)

time              object
deviceid          object
tool              object
direction         object
protocol          object
target            object
pktloss          float64
method            object
zip                int64
isp               object
value            float64
topic             object
annon:paddar      object
ipaddnchanged      int64
hour               int64
date              object
dtype: object

/tmp/ipykernel_1704334/2227533075.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  device_2022.hour = device_2022['hour'].astype('int')

In [10]:
device_22avg = device_2022.loc[device_2022['method'] == 'avg']
device_22avg

,time,deviceid,tool,direction,protocol,target,pktloss,method,zip,isp,value,topic,annon:paddar,ipaddnchanged,hour,date
0,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,39.296,chicago,73.176.1.0,1,23,2022-05-05
4,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,14.601,chicago,73.176.1.0,1,23,2022-05-05
20,2022-05-05 23:51:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,avg,60649,att,62.323,chicago,73.176.1.0,1,23,2022-05-05
81,2022-05-06 03:11:01,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,38.256,chicago,73.176.1.0,0,3,2022-05-06
85,2022-05-06 03:11:01,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,13.742,chicago,73.176.1.0,0,3,2022-05-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685250,2022-05-04 07:00:59,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,16.179,chicago,73.176.1.0,0,7,2022-05-04
685266,2022-05-04 07:00:59,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,avg,60649,att,63.909,chicago,73.176.1.0,0,7,2022-05-04
685323,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,37.974,chicago,73.176.1.0,0,23,2022-05-03
685327,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,13.375,chicago,73.176.1.0,0,23,2022-05-03
685343,2022-05-03 23:21:00,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,avg,60649,att,62.147,chicago,73.176.1.0,0,23,2022-05-03

In [11]:
def anomaly_detec(x):
        stdev_threshold = x.std() + x.mean()
        print(stdev_threshold)
        anomaly_total = x >= stdev_threshold
        return anomaly_total
    
    
anomaly_detec(device_2022['value'])

device_2022["anomalytotal"]=anomaly_detec(device_2022['value'])

#device_5["anomalytotal"] = device_5["value"].apply(anomaly_detec)

54.8438030224926
54.8438030224926

/tmp/ipykernel_1704334/1685668576.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  device_2022["anomalytotal"]=anomaly_detec(device_2022['value'])

In [12]:
anomaly_df = device_2022.groupby('date')[['anomalytotal']].sum()
anomaly_df

            anomalytotal
date
2022-04-30           180
2022-05-01           871
2022-05-02           865
2022-05-03           864
2022-05-04           871
2022-05-05           864
2022-05-06           865
2022-05-07           866
2022-05-08           866
2022-05-09           861
2022-05-10           864
2022-05-11           867
2022-05-12           864
2022-05-13           866
2022-05-14           864
2022-05-15           865
2022-05-16           864
2022-05-17           864
2022-05-18           864
2022-05-19           865
2022-05-20           866
2022-05-21           876
2022-05-22           866
2022-05-23           867
2022-05-24           868
2022-05-25           865
2022-05-26           862
2022-05-27           864
2022-05-28           867
2022-05-29           865
2022-05-30           863
2022-05-31           685

In [13]:
pd.set_option('display.max_rows', None)
device_5new = device_2022.groupby(['date','target'])[["anomalytotal"]].sum()
device_5new

                    anomalytotal
date       target
2022-04-30 Atlanta             0
           Chicago             0
           Seattle           180
2022-05-01 Atlanta             3
           Chicago             4
           Seattle           864
2022-05-02 Atlanta             0
           Chicago             1
           Seattle           864
2022-05-03 Atlanta             0
           Chicago             0
           Seattle           864
2022-05-04 Atlanta             6
           Chicago             1
           Seattle           864
2022-05-05 Atlanta             0
           Chicago             0
           Seattle           864
2022-05-06 Atlanta             0
           Chicago             1
           Seattle           864
2022-05-07 Atlanta             1
           Chicago             4
           Seattle           861
2022-05-08 Atlanta             1
           Chicago             1
           Seattle           864
2022-05-09 Atlanta             0
           Chicago             0
           Seattle           861
2022-05-10 Atlanta             0
           Chicago             0
           Seattle           864
2022-05-11 Atlanta             1
           Chicago             2
           Seattle           864
2022-05-12 Atlanta             0
           Chicago             0
           Seattle           864
2022-05-13 Atlanta             2
           Chicago             3
           Seattle           861
2022-05-14 Atlanta             1
           Chicago             2
           Seattle           861
2022-05-15 Atlanta             1
           Chicago             0
           Seattle           864
2022-05-16 Atlanta             0
           Chicago             0
           Seattle           864
2022-05-17 Atlanta             0
           Chicago             0
           Seattle           864
2022-05-18 Atlanta             0
           Chicago             0
           Seattle           864
2022-05-19 Atlanta             0
           Chicago             1
           Seattle           864
2022-05-20 Atlanta             0
           Chicago             2
           Seattle           864
2022-05-21 Atlanta             7
           Chicago             5
           Seattle           864
2022-05-22 Atlanta             1
           Chicago             1
           Seattle           864
2022-05-23 Atlanta             0
           Chicago             3
           Seattle           864
2022-05-24 Atlanta             2
           Chicago             2
           Seattle           864
2022-05-25 Atlanta             0
           Chicago             1
           Seattle           864
2022-05-26 Atlanta             0
           Chicago             1
           Seattle           861
2022-05-27 Atlanta             0
           Chicago             0
           Seattle           864
2022-05-28 Atlanta             2
           Chicago             1
           Seattle           864
2022-05-29 Atlanta             0
           Chicago             1
           Seattle           864
2022-05-30 Atlanta             1
           Chicago             1
           Seattle           861
2022-05-31 Atlanta             0
           Chicago             1
           Seattle           684