In [50]:
import numpy as np
import pandas as pd

import matplotlib as mpl
import matplotlib.pyplot as plt

import seaborn as sns
import seaborn.objects as so
import plotly.express as px

In [2]:
all_files = ["filtered_netrics_latency_202201.csv", "filtered_netrics_latency_202207.csv",
             "filtered_netrics_latency_202202.csv", "filtered_netrics_latency_202208.csv",
            "filtered_netrics_latency_202203.csv",  "filtered_netrics_latency_202209.csv",
            "filtered_netrics_latency_202204.csv",  "filtered_netrics_latency_202210.csv",
            "filtered_netrics_latency_202205.csv",  "filtered_netrics_latency_202211.csv",
            "filtered_netrics_latency_202206.csv",  "filtered_netrics_latency_202212.csv"]

In [3]:
all_files[0]

'filtered_netrics_latency_202201.csv'

In [4]:
path="/srv/data/my_shared_data_folder//iet_2022/"

In [5]:
columns = ['time','deviceid','tool','direction','protocol','target','pktloss','method','zip','isp','value','topic','annonipaddr','ipaddrchanged']

In [6]:
data2022 = pd.read_csv(path + 'filtered_netrics_latency_202201.csv',names=columns)
data2022.head()

,time,deviceid,tool,direction,protocol,target,pktloss,method,zip,isp,value,topic,annonipaddr,ipaddrchanged
0,2022-01-03 18:26:07,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,43.394,chicago,108.237.217.0,0
1,2022-01-03 18:26:07,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,max,60649,att,44.146,chicago,108.237.217.0,0
2,2022-01-03 18:26:07,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,mdev,60649,att,0.514,chicago,108.237.217.0,0
3,2022-01-03 18:26:07,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,min,60649,att,42.709,chicago,108.237.217.0,0
4,2022-01-03 18:26:07,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,20.881,chicago,108.237.217.0,0

In [7]:
for file in all_files:
    df = pd.read_csv(path + file, names=columns)
    data2022 = pd.concat([data2022,df])

In [8]:
data2022 = data2022.sort_values(by=['time'])
data2022.tail()

,time,deviceid,tool,direction,protocol,target,pktloss,method,zip,isp,value,topic,annonipaddr,ipaddrchanged
157473,2022-11-19 05:55:59,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,amazon,0.0,min,60649,att,10.646,chicago,73.176.1.0,0
157472,2022-11-19 05:55:59,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,amazon,0.0,mdev,60649,att,1.962,chicago,73.176.1.0,0
157471,2022-11-19 05:55:59,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,amazon,0.0,max,60649,att,16.883,chicago,73.176.1.0,0
157480,2022-11-19 05:55:59,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,google,0.0,mdev,60649,att,1.432,chicago,73.176.1.0,0
157476,2022-11-19 05:55:59,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,facebook,0.0,mdev,60649,att,0.943,chicago,73.176.1.0,0

In [9]:
data2022_avg = data2022.loc[data2022['method'] == 'avg']
data2022_avg.head()

,time,deviceid,tool,direction,protocol,target,pktloss,method,zip,isp,value,topic,annonipaddr,ipaddrchanged
555961,2021-12-31 18:00:05,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,google,9.09091,avg,60649,att,108.639,chicago,108.237.217.0,0
555961,2021-12-31 18:00:05,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,google,9.09091,avg,60649,att,108.639,chicago,108.237.217.0,0
538492,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.00000,avg,60649,att,22.307,chicago,108.237.217.0,0
538540,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,tribune,0.00000,avg,60649,att,34.187,chicago,108.237.217.0,0
538536,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,suntimes,0.00000,avg,60649,att,34.252,chicago,108.237.217.0,0

In [10]:
#create a new dataframe with only Atlanta, Seattle, and Chicago
#df=print(df['Courses'].isin(['Spark','Python']))
data2022_serv = data2022_avg.loc[data2022_avg['target'].isin(['Atlanta', 'Seattle', 'Chicago'])]
data2022_serv.head()

,time,deviceid,tool,direction,protocol,target,pktloss,method,zip,isp,value,topic,annonipaddr,ipaddrchanged
538492,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,22.307,chicago,108.237.217.0,0
538488,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,95.486,chicago,108.237.217.0,0
538492,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,22.307,chicago,108.237.217.0,0
538508,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,avg,60649,att,84.930,chicago,108.237.217.0,0
538488,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,95.486,chicago,108.237.217.0,0

In [11]:
def split_hour(x):
    row = x
    return row[11:13]

def split_date(x):
    row = x
    return row[5:10]
def split_month(x):
    row = x
    return row[5:7]

data2022_serv['hour'] = data2022_serv['time'].apply(split_hour)
data2022_serv['date'] = data2022_serv['time'].apply(split_date)
data2022_serv['month'] = data2022_serv['time'].apply(split_month)
data2022_serv.head()

/tmp/ipykernel_1728905/3669829288.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2022_serv['hour'] = data2022_serv['time'].apply(split_hour)
/tmp/ipykernel_1728905/3669829288.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2022_serv['date'] = data2022_serv['time'].apply(split_date)
/tmp/ipykernel_1728905/3669829288.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2022_serv['month'] = data2022_serv['time'].apply(split_month)

,time,deviceid,tool,direction,protocol,target,pktloss,method,zip,isp,value,topic,annonipaddr,ipaddrchanged,hour,date,month
538492,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,22.307,chicago,108.237.217.0,0,18,12-31,12
538488,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,95.486,chicago,108.237.217.0,0,18,12-31,12
538492,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Chicago,0.0,avg,60649,att,22.307,chicago,108.237.217.0,0,18,12-31,12
538508,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Seattle,0.0,avg,60649,att,84.930,chicago,108.237.217.0,0,18,12-31,12
538488,2021-12-31 18:01:33,nm-mngd-20210518-19941862,ping_latency,rtt,icmp,Atlanta,0.0,avg,60649,att,95.486,chicago,108.237.217.0,0,18,12-31,12

In [30]:
#We need this code to show what the standard deviation threshold is.
def anomaly_detec (x):
    stdev_threshold = x.std()*2 + x.mean()
    print(stdev_threshold)
    anomaly_count = x >= stdev_threshold
    return anomaly_count

anomaly_detec(data2022_serv['value']).head()

119.59593364824433

538492    False
538488    False
538492    False
538508    False
538488    False
Name: value, dtype: bool

In [42]:
data2022_serv["anomalytotal"] = anomaly_detec(data2022_serv['value'])

pd.set_option('display.max_rows', None)

119.59593364824433

/tmp/ipykernel_1728905/391916896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2022_serv["anomalytotal"] = anomaly_detec(data2022_serv['value'])

In [43]:
data2022_serv["anomalytotal"].tail()

164977    False
164993    False
157454    False
157438    False
157434    False
Name: anomalytotal, dtype: bool

In [46]:
anomaly_2022 = data2022_serv.groupby(['month','date','target'])[['anomalytotal']].sum()
anomaly_2022.head()

                     anomalytotal
month date  target
01    01-01 Atlanta            40
            Chicago            14
            Seattle            50
      01-02 Atlanta            78
            Chicago            46

In [49]:
anomalymonth_2022 = anomaly_2022.groupby(['month','target'])[['anomalytotal']].median()
anomalymonth_2022

               anomalytotal
month target
01    Atlanta          28.0
      Chicago          14.0
      Seattle          42.0
02    Atlanta          15.5
      Chicago          13.0
      Seattle          21.5
03    Atlanta          12.0
      Chicago           7.0
      Seattle          18.0
04    Atlanta           0.0
      Chicago           0.0
      Seattle           0.0
05    Atlanta           0.0
      Chicago           0.0
      Seattle           0.0
06    Atlanta           0.0
      Chicago           0.0
      Seattle           0.0
07    Atlanta           0.0
      Chicago           0.0
      Seattle           0.0
08    Atlanta           0.0
      Chicago           0.0
      Seattle           0.0
09    Atlanta           0.0
      Chicago           0.0
      Seattle           0.0
10    Atlanta           0.0
      Chicago           0.0
      Seattle           0.0
11    Atlanta           0.0
      Chicago           0.0
      Seattle           0.0
12    Atlanta           0.0
      Chicago           0.0
      Seattle           8.0

In [77]:
from dash import Dash, dcc, html, Input, Output
import plotly.express as px

app = Dash(__name__)


app.layout = html.Div([
    html.H4('Median Anomalies per Month'),
    dcc.Dropdown(
        id="dropdown",
        options=["Atlanta", "Chicago", "Seattle"],
        value="Atlanta",
        clearable=False,
    ),
    dcc.Graph(id="graph"),
])


@app.callback(
    Output("graph", "figure"), 
    Input("dropdown", "value"))
def update_bar_chart(server):
    mask = anomalymonth_2022["target"] == server
    fig = px.bar(anomalymonth_2022[mask], x="month", y="anomalytotal", 
                 color="smoker", barmode="group")
    return fig.show()

In [ ]:
# Initializing figure object
fig = go.Figure()

# Adding points bar plot
fig.add_trace(
    go.Bar(
        y=list(anomalymonth_2022['anomalytotal']),
        x=list(anomalymonth_2022['month']),
        name='Points',
        orientation='h'
    )
)

# Adding rebounds bar plot
fig.add_trace(
    go.Bar(
        y=list(df_trb['Player']),
        x=list(df_trb['TRB']),
        name='Rebounds',
        visible=False,
        orientation='h'
    )
)

# Adding assists bar plot
fig.add_trace(
    go.Bar(
        y=list(df_ast['Player']),
        x=list(df_ast['AST']),
        name='Assists',
        visible=False,
        orientation='h'
    )
)

# Minor layout adjustments
fig.update_layout(title='<b>Top 10 Leaders</b>', 
                  title_x=0.5,
                  margin=dict(t=50),
                  yaxis=dict(autorange="reversed", ticksuffix="  ")
                 )

fig.show()